{{#if this.shouldDisplay}}
  {{body-class "search-header--visible"}}
  <div class="floating-search-input-wrapper">
    <div class="floating-search-input">
      <div class="search-banner">
        <div class="search-banner-inner wrap">
          <div class="search-menu">
            <SearchIcon />
            <SearchMenu />
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}