{{#if this.shouldDisplay}}
  {{body-class "search-header--visible"}}
  <div class="floating-search-input-wrapper" {{this.handleKeyboardShortcut}}>
    <div class="floating-search-input">
      <div class="search-banner">
        <div class="search-banner-inner wrap">
          <div class="search-menu">
            <SearchIcon />
            <SearchMenu @searchInputId="advanced-header-search-input" />
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}