.floating-search-input + .panel .header-dropdown-toggle.search-dropdown,
.floating-search-input + .panel .search-menu {
  display: none;
}

a.widget-link.search-link {
  padding: 0;
  color: var(--primary);
}

.floating-search-input + .panel {
  margin-left: 0;
}

.floating-search-input {
  
  .search-banner {
    height: 100%;
    &-inner.wrap {
      height: 100%;
      width: 100%;
      padding: 0;
      
      .search-menu {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .searching .spinner-holder {
          display: inline-block;
          vertical-align: top;
          margin-left: 4px;
        }

        .widget-button.btn {
          background: transparent;
          padding: 0.25em;
          position: absolute;
          top: 0.25em;
          left: 0.25em;
          pointer-events: none;
          .d-icon {
            color: var(--header_primary-medium);
          }
        }
        .search-input {
          box-sizing: border-box;
          height: 60%;
          width: 100%;
          display: flex;
          padding: 0;
          border-radius: 0.25em;
          
          #search-term {
            height: 100%;
            margin: 0;
            padding: 0.5em 4em 0.5em 2em;
            border-radius: 0.25em;
            background: var(--header_background);
            color: var(--header_primary);
            &:focus {
              outline: none;
              box-shadow: 0px 0px 0px 2px rgba(var(--tertiary-rgb), 0.25);
            }
          }
        }
        
        .results {
          &:empty {
            display: none;
          }
          box-sizing: border-box;
          background: var(--secondary);
          border: 1px solid var(--primary-low);
          border-radius: 0.25em;
          margin-top: 0.5em;
          padding: 0.5em;
          position: absolute;
          box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.25);
          width: 100%;
          
          ul.list,
          ul {
            list-style: none;
            margin: 0;
            li {
              padding: 0 0.5em;
              &:hover {
                background-color: var(--highlight-low);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {
    .floating-search-input {
        margin-right: 40px;
    }
}
// Styling for extra icons
.search-bar-icons--icon {
  .d-icon {
    color: var(--primary-low-mid);
  }

  &:hover .d-icon {
    color: var(--primary-high);
  }
}
